#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.medio {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 10px;               /* Añade separación entre los botones */
  padding: 20px;           /* Espacio interno */
  margin-bottom: 30px;     /* Separa el menú del contenido (Exercici 1) */
}
.medio button {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.medio button:hover {
  background-color: #646cff; /* Cambia de color al pasar el ratón */
}
